.c-app-container {
  padding-top: 40px;
  padding-bottom: 50px;
  overflow-x: hidden;
}

.mint-header.c-header {
  background-color: lightseagreen;
}

.mui-tab-item.router-link-exact-active.mui-active {
  color: lightseagreen;
}
  
