.mui-table-view-cell.mui-media {
  .mui-media-body {
    h1 {
      font-size: 14px;
    }

    .mui-ellipsis {
      font-size: 12px;
      display: flex;
      color: lightseagreen;
      justify-content: space-between;

    }
  }

}